[Unit]
Description=Asus Numpad Driver

[Service]
ExecStart=asus-numpad --layout $LAYOUT
TimeoutSec=5
Restart=on-failure

[Install]
WantedBy=default.target
