[Unit]
Description=Asus Numpad Driver

[Service]
ExecStart=/opt/asus-numpad/asus-numpad
TimeoutSec=5
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
