[Unit]
Description=Asus Numpad Driver

[Service]
ExecStart=/usr/local/bin/asus-numpad
TimeoutSec=5
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
